<div class="wrapper">
  <div class="current-time">
    <span id="current-time-title">UTC{{timezone}}</span>
    <span id="time">{{time.hours}}:{{time.minutes}}:{{time.seconds}}</span>
  </div>
  <div class="message">
    <span *ngIf="isOnAir" id="onair">on air</span>
    <span *ngIf="!isOnAir&&onAirTime" id="air-time">Air time: {{onAirTime.h}}:{{onAirTime.m}}:{{onAirTime.s}}</span>
  </div>
  <form [formGroup]="timeForm" (ngSubmit)="onStartCount()">
    <div class="time-input">
      <span *ngIf="isOnAir" class="sign units">+</span>
      <span *ngIf="!isOnAir&&onAirTime" class="sign units" style="color:#fe6468">-</span>
      <input type="tel"
      id="hour"
      min=0
      placeholder='00'
      [ngStyle]="invalidInputStyle(this.timeForm.controls.hours)"
      formControlName="hours">
      <span class="units">h</span>
      <input type="tel"
       id="min"
       placeholder='00'
       [ngStyle]="invalidInputStyle(this.timeForm.controls.minutes)"
       formControlName="minutes">
      <span class="units">m</span>
      <input type="tel"
      id="sec"
      placeholder='00'
      min="00"
      [ngStyle]="invalidInputStyle(this.timeForm.controls.seconds)"
      formControlName="seconds">
      <span class="units">sec</span>
    </div>
    <button type="submit" name="submit" id="submit">Start</button>
    <button type="button" name="clear" id="clear" (click)="onClearCount()">Clear</button>
  </form>

</div>
