
.wrapper{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-auto-rows: minmax(70px, auto);
  margin-top: 20px;
  height: 90%;
  color: #757575;
}
.message{
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}
#onair{
  text-transform: uppercase;
  color: #ff6969;
  font-weight: 300;
  font-size: 3.5em;
}

#air-time{
  font-size: 23px;
  color: black;
}

.current-time{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}
#time{
  justify-self: center;
  font-size: 50px;
}
#current-time-title{
  justify-self: center;
  font-size: 23px;
}

form{
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.time-input{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self:center;
}

.time-input span{
  font-family: 'Open Sans', sans-serif;
}

.time-input span.sign{
  font-size: 2em;
}

input[type=tel] {
  font-family: 'Open Sans', sans-serif;
  width: 100px;
  font-weight: 400;
  font-size: 90px;
  text-align: center;
  background-color: transparent;
  border:none;
}

input[type=tel]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9d9d9d;
}
input[type=tel]::-moz-placeholder { /* Firefox 19+ */
  color: #9d9d9d;
}
input[type=tel]:-ms-input-placeholder { /* IE 10+ */
  color: #9d9d9d;
}
input[type=tel]:-moz-placeholder { /* Firefox 18- */
  color: #9d9d9d;
}
.units{
  display: none;
}
button{
  width: 150px;
  height: 55px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}
button:active{
  transform:translateY(1px);
}
button#submit{
  background-color: #78acec;
  color: white;
  justify-self: end;
}
button#submit:active{
  background-color: #71a2dd;
}
button#clear{
  background-color: #e0e0e0;
}
button#clear:active{
  background-color: #ccc;
}

/******************************
*********Media Queries*********
*******************************/

/*****for-tablet-portrait-up***/
@media (min-width: 600px) {
  #onair{
    font-size: 3.5em;
  }
   #time{
    font-size: 55px;
  }
  #air-time, #current-time-title{
    font-size: 23px;
  }

  .time-input span{
    font-size: 1.5em;
  }
  .time-input span.sign{
    font-size: 6em;
    line-height: 84px;
  }
  input[type=tel] {
    width: 150px;
    font-weight: 400;
    font-size: 118px;
  }
  .units{
    display: inline;
  }
  button{
    width: 228px;
    height: 84px;
    font-size: 40px;
  }

}

/*****for-tablet-landscape-up***/
@media (min-width: 900px) {

}

/*******for-desktop-up**********/
@media (min-width: 1200px) {
  .wrapper{

    grid-template-columns:  1fr 2fr 2fr 1fr;

  }
  .message{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
  }

  .current-time{
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: end;
  }
  form{
    margin-top: 150px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/********for-big-desktop********/
@media (min-width: 1800px) {


}
